<% content_for :title, @post.title %>
<% content_for :meta do %>
	<meta property="og:type" content="article">
	<meta property="og:title" content="<%= @post.title %>">
	<meta property="og:description" content="<%= strip_tags @post.excerpt(paragraphs: 2) %>">
	<% if @post.main_image %>
		<meta property="og:image" content="<%= @post.main_image %>">
	<% end %>
	<link rel="webmention" href="<%= mentions_url %>">
<% end %>

<%= render @post, show_full: true %>

<aside>
	<h4 id="responses"><%= pluralize(@post.mentions.length, 'response') %></h4>
	<ul>
		<%= render @post.mentions, layout: 'list_item' %>
	</ul>
	<h6>you can respond to this post by having your blog send my blog a <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener">webmention</a>, or by <a href="https://brid.gy/" target="_blank" rel="noopener">tweeting about it</a>.</h6>
</aside>
