<li>
	<%= link_to mention.source, target: '_blank' do %>
		<% if mention.is_like? %>
			❤︎ liked
		<% elsif mention.is_repost? %>
			⟳ reposted
		<% else %>
			<%= mention.title || mention.source %>
		<% end %>
	<% end %>

	<% if author = mention.author %>
		by <%= link_to author["url"], target: '_blank' do %>
			<% if author["photo"] %>
				<img src="<%= author["photo"] %>" width="24" alt="<%= author["name"] %>" class="author">
			<% end %>
			<%= author["name"] %>
		<% end %>
	<% end %>

	<% if (mention.is_like? || mention.is_repost?) && mention.title %>
		<% if mention.author %>who said<% end %>
		"<%= mention.title %>"
	<% end %>
</li>
