<% post ||= @post %>
<% show_full ||= false %>

<article>
	<h2><%= link_to post.title, post %></h2>
	<time datetime="<%= post.posted %>"><%= time_ago_in_words post.posted %> ago</time>
	<% post.tags.each do |tag| %>
		<%= link_to tag.name, tag %>
	<% end %>
	<%= button_to pluralize(post.likes, "yeet"), like_post_path(post) %>

	<%= show_full ? post.html_body : post.excerpt %>

	<% if !show_full && post.html_body != post.excerpt %>
		<%= link_to "Read more…", post %>
	<% end %>
</article>
