<% post ||= @post %>
<% show_full ||= false %>

<article>
	<h2><%= link_to post.title, post %></h2>
	<%= button_to pluralize(post.likes, "yeet"), like_post_path(post), form_class: 'yeet', remote: true %>
	<time title="<%= post.posted %>" datetime="<%= post.posted %>">posted <%= time_ago_in_words post.posted %> ago</time>
	<% if post.tags.length %>
		<ul class="tags">
			<% post.tags.each do |tag| %>
				<li><%= link_to tag.name, tag
					%></li>
			<% end %>
		</ul>
	<% end %>

	<%= show_full ? post.html_body : post.excerpt %>

	<% if !show_full && post.html_body != post.excerpt %>
		<%= link_to "Read more…", post %>
	<% end %>
</article 
