<!DOCTYPE html>
<html>
    <head>
        <title>
            <% if content_for?(:title) %>
                <%= content_for :title %> ☰ a pale slim ghost
            <% else %>
                a pale slim ghost
            <% end %>
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= content_for :meta %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>

    <body class="<%= controller_name.underscore.dasherize %>">
        <%= render 'nav' %>

        <main>
            <%= yield %>
        </main>
    </body>
</html>
