<!DOCTYPE html>
<html>
    <head>
        <title>
            <% if content_for?(:title) %>
                <%= content_for :title %> ☰ a pale slim ghost
            <% else %>
                a pale slim ghost
            <% end %>
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="/favicon.svg">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= auto_discovery_link_tag :rss, posts_url(:format => :rss), { title: "all posts" } %>
        <%= content_for :meta %>
    </head>

    <body class="<%= controller_name.underscore.dasherize %>"
        <% if current_user %>
          data-controller="drag-drop"
          data-action="dragover->drag-drop#showOverlay dragleave->drag-drop#hideOverlay drop->drag-drop#uploadFiles"
        <% end %>
    >
        <%= render 'nav' %>

        <main>
            <%= yield %>
        </main>

        <% if current_user %>
            <%= form_with(url: upload_path, data: { 'drag-drop-target': 'form' }) {} %>
            <div class="secret-area">
                <div data-drag-drop-target="messages"></div>
                <a href='/log-out' aria-hidden='true'>log out</a>
            </div>
        <% else %>
            <a href='/log-in' class='secret-area' aria-hidden='true'>log in</a>
        <% end %>
    </body>
</html>
